
<ion-list class="no-margin" *ngFor="let option of options">
  
  <ion-item *ngIf="option?.operation == 'report'" (tap)="report(option)">
    
        <ion-icon margin-left margin-right name="alert" color="primary"></ion-icon>
        <span >{{option?.text}}</span>
       

  </ion-item>
  <ion-item *ngIf="option?.operation == 'delete'" (tap)="delete(option)">
    
      <ion-icon margin-left margin-right name="trash" color="danger"></ion-icon>
      <span >{{option?.text}}</span>
     
</ion-item>

  <!-- <ion-item (click)="openPage('FindAligPage')">
    
        <ion-icon margin-left margin-right ios="ios-search" md="md-search" color="primary"></ion-icon>
        <span ion-text >Filig</span>
  </ion-item>
  
  <ion-item (click)="logout()">
    
        <ion-icon margin-left margin-right ios="ios-build" md="md-build" color="primary"></ion-icon>
        <span >Lot</span>
  </ion-item> -->
</ion-list>

