<ion-header>
  <ion-navbar>
    <!-- <ion-title >
         <span>Loading feeds</span><ion-spinner margin-left color="primary" name="dots"></ion-spinner></ion-title> -->
  <div text-center>
    <ion-title >
      <ion-icon color="primary" padding-right name="paper"></ion-icon> {{feed_type}} Feed
    </ion-title>
  </div>

    <!--<ion-buttons end >-->
      <!--<button ion-button  (tap)="openMoreOptions()">-->
        <!--<ion-icon slot="icon-only" margin-right color="primary" name="more"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->

  </ion-navbar>
</ion-header>


<ion-content overflow-scroll=”true” no-padding no-margin>
  <ion-card  class="feed-card">

    <ion-item (tap)="openProfile()">
      <ion-avatar item-start>
        <img *ngIf="feed_data?.profile_id?.profile_picture" src="{{feed_data?.profile_id?.profile_picture | transform}}">
        <img *ngIf="!feed_data?.profile_id?.profile_picture" src="../../assets/imgs/default_profile.png">
      </ion-avatar>
      <ion-note item-end>
        {{feed_data?.date | date:'dd/MM/yyyy H:mm'}}
      </ion-note>
      <h2>{{feed_data?.name}}</h2>
      <p>{{feed_data?.institution_name}}</p>
    </ion-item>

    <div  padding>
      <p>{{feed_data?.text }}</p>
    </div>

    <div padding-bottom class="image" *ngIf="feed_data?.image_post && feed_type == 'General'">
      <img src="{{feed_data?.image_post | transform}}">
    </div>

    <div padding-bottom class="image" *ngIf="feed_type == 'Class' && feed_data.image_post  ||feed_data.image_post == ''">
      <img src="../../assets/imgs/compressednotes.jpg">
    </div>

    <ion-note padding-left padding-top padding-bottom="1px">{{feed_data?.likes_count}} Likes . {{feed_data?.comments_count}} Comments</ion-note>
    <hr >
    <ion-row>
      <ion-col col-6>
        <button  [ngStyle]="{'color':feed_data?.isLiked ? '#1ba1e2' : '#BDBDBD'}"
          margin-left ion-button icon-start clear small (tap)="like()" >

          <div><ion-icon name="thumbs-up"></ion-icon> Like</div>
        </button>

      </ion-col>
      <ion-col col-6>
        <button [ngStyle]="{'color':feed_data?.comments_count > 0 ? '#1ba1e2' : '#BDBDBD' }"
          margin-right ion-button icon-start clear small>

          <div><ion-icon ios="ios-megaphone" md="md-megaphone"></ion-icon> Comment</div>
        </button>
      </ion-col>

    </ion-row>

  </ion-card>

  <ion-list>

    <ion-item padding-top>
      <ion-textarea   #input
                      rows="3"
                      maxLength="100"
                      placeholder="write your comment"
                      [(ngModel)]="comment_text"
    ></ion-textarea>
      <button *ngIf="!is_Commenting" item-end ion-button color="light"  round (tap)="addComment()" >Add comment</button>
      <button *ngIf="is_Commenting" item-end ion-button color="light"  round > <ion-spinner name="bubbles"></ion-spinner> </button>
    </ion-item>
    <!--<ion-list-header>-->
      <!--<ion-item>-->
        <!--<h3>Comments</h3>-->
        <!--<ion-note item-end>Time</ion-note>-->
      <!--</ion-item>-->
    <!--</ion-list-header>-->

    <div *ngIf="is_comments_loading" padding-top text-center>
       <ion-spinner color="primary" name="dots"></ion-spinner>
    </div>
    <div *ngIf="!is_comments_loading">

    </div>
    <!-- <ion-item *ngFor=" let comment of post?.comments; let i = index">
      <ion-avatar style="zoom: 80%" item-start>
        <img src="../../assets/imgs/amulogo.png">
      </ion-avatar>
      <ion-note style="font-size: 12px" item-end item-top no-padding>
          {{comment?.date | date:'dd/MM/yyyy H:mm'}}
      </ion-note>
      <ion-icon padding-left item-end name="more" (tap)="openMoreOptions($event , comment, i)"></ion-icon>
      <h2  style="padding-left: 3px" >{{comment?.name}}</h2>
      <div padding text-wrap>
            <p text-wrap>{{comment?.text}}</p>
      </div>
    </ion-item> -->

    <ion-card *ngFor=" let comment of post?.comments; let i = index" class="comment-card">

      <ion-item >
        <!--<ion-avatar item-start no-padding (tap)="openProfile(post)">-->
          <!--<img src="../../assets/imgs/amulogo.png">-->
        <!--</ion-avatar>-->
        <ion-note item-end padding-right>
          {{comment?.date | date:'dd/MM/yyyy H:mm'}}
        </ion-note>
        <ion-icon item-end name="more" (tap)="openMoreOptions($event , comment, i)"></ion-icon>
  
        <div no-padding (tap)="openCommentorProfile(comment)">
          <strong>{{comment?.name}}</strong>
        </div>
  
      </ion-item>
  
      <div  padding-left="8px"  text-wrap>

        <p>{{comment?.text }}</p>

      </div>
  

    </ion-card>

  </ion-list>


</ion-content>


