page-feed-detail {
  .feed-card{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  ion-avatar{
    height: 50px;
    width: 50px;
    border-radius: 2px;
  }
  .comment-card{
    border-radius: 5px;
  }

  .image{
    width: 100%;
  }
}
