<!-- <ion-content padding class="animated fadeIn login auth-page">
    <div class="login-content">
  
      
      <div padding-horizontal text-center class="animated fadeInDown">
        <div class="logo"></div>
        <h2 ion-text class="text-primary">
          <strong>amuConnect</strong>
        </h2>
      </div>
  
      
     
        <ion-item>
          <ion-label floating>
            <ion-icon name="mail" item-start class="text-primary"></ion-icon>
            Email
          </ion-label>
            <ion-input
                     type="email"
                     [(ngModel)]="email"
                    required>
                  </ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            Password
          </ion-label>
          <ion-input
                        type="password"
                        [(ngModel)]="password"
                        required></ion-input>
        </ion-item>
    
  
      <p text-right ion-text  tappable (tap)="forgotPass()"><strong>Forgot Password?</strong></p>
  
      <div >
          <button ion-button icon-start block *ngIf="!spinner" round (click)="onSignin()">Log in</button>
          <button ion-button icon-start block *ngIf="spinner" round >Please wait 
            <ion-spinner name="crescent"></ion-spinner>
          </button>
  
        <p text-center  >Or Sign in with:</p>
  
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <button ion-button icon-only block style="background-color:#3b5998">
                <ion-icon name="logo-facebook" ></ion-icon>
              </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button icon-only block style="background-color: 	#1da1f2">
                <ion-icon name="logo-twitter"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button icon-only block style="background-color: 	#d85040">
                <ion-icon name="logo-googleplus"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </div>
  
  
      
      <div text-center margin-top>
        <span ion-text  tappable (tap)="register()">New here? <strong>Sign up</strong></span>
      </div>
  
    </div>
  </ion-content> -->
  



 
<ion-content >

  <div class="login"> 
    
     <ion-grid  >
       <ion-col >
         <ion-row class="animated fadeInDown" justify-content-center padding-bottom >
            <ion-avatar>
              <img src="../../assets/logo/logo.png">
            </ion-avatar>
            
         
         </ion-row >
         <ion-row padding-bottom justify-content-center>
            <strong>amuConnect</strong>
         </ion-row>
         <ion-row justify-content-center>
            <ion-item >
                <ion-label ><ion-icon name="school"></ion-icon></ion-label>
                <ion-input
                        type="email"
                        placeholder="Email"
                        [(ngModel)]="email"
                        required></ion-input>
              </ion-item>
         </ion-row>
         <ion-row justify-content-center>
            <ion-item > 
                <ion-label ><ion-icon name="lock"></ion-icon></ion-label>
                <ion-input
                        type="password"
                        placeholder="password"
                        [(ngModel)]="password"
                        required></ion-input>
              </ion-item>
         </ion-row>
         <ion-row style="padding-top:15px" justify-content-center >
            <ion-col col-5>
              <button ion-button *ngIf="!spinner" round (click)="login()">Login</button>
            <button ion-button *ngIf="spinner" round >Please wait 
              <ion-spinner name="crescent"></ion-spinner>
            </button>
            </ion-col>
            <ion-col col-5>
              <button ion-button *ngIf="!spinner" color="light" round (click)="register()">Signup</button>
            </ion-col>


            
         </ion-row>  
        
          
         <!-- <ion-row end style="padding-top:25px;margin-left:25px">
         
            <span margin-left ion-text  tappable (tap)="register()">New here? <strong>Sign up now</strong></span>
            
         </ion-row> -->
       </ion-col> 
       
    </ion-grid>

  </div>

  
  </ion-content>
  
