page-login {


    .login{
      margin-top: 30%;
    }

    // .Absolute-Center{
    //     display: flex!important;
    //  align-content: center!important;
    //  align-items: center!important;
    //   }
    
      ion-avatar{
          height: 100px;
          width: 100px;
          
      }

      .auth-page {
        background-color: #fff;
        &::after {
          content: "";
         // background: url("../assets/img/bg.jpg") no-repeat;
          background-size: cover;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: 0;
        }
      
        .scroll-content {
          display: flex;
          align-items: center;
          justify-content: center;
          //background: rgba(50, 10, 92, .4);
      
          .login-content {
            width: 80%;
          }
        }
    }
       
}
