progress-bar {

  .progress-outer {
    width: 96%;
    margin: 4px 2%;
    padding: 3px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 5px;
  }

  .progress-inner {
    min-width: 18%;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px;
    border-radius: 5px;
    background-color: map-get($colors, primary);
  }
}
