<ion-tabs >
  <ion-tab   [root]="general_feed" tabTitle="General" tabIcon="paper" tabsHideOnSubPages="true" class="disable-ripple"></ion-tab>
  <ion-tab  [root]="class_feed" tabTitle="Class"  tabIcon="school" tabsHideOnSubPages="true" class="disable-ripple"></ion-tab>
  <!--<ion-tab  [root]="stories" tabTitle="Stories"  tabIcon="trending-up" tabsHideOnSubPages="true" class="disable-ripple"></ion-tab>-->
  <ion-tab   [root]="find_alig" tabTitle="Find Alig"  tabIcon="search" tabsHideOnSubPages="true" class="disable-ripple"></ion-tab>
</ion-tabs>
