<ion-header>
  <ion-navbar color= "white">

    <div text-center>
      <ion-title>
        <ion-icon padding-right color="primary" name="school"></ion-icon> Add Education
      </ion-title>
    </div>

    <ion-buttons end >
      <button ion-button  (tap)="close()" >
        <ion-icon slot="icon-only" margin-right color="primary" name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-col>
      <ion-row justify-content-center>
        <ion-item>
          <ion-label floating>Title</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="education.degree">

          </ion-input>
        </ion-item>
      </ion-row>

      <ion-row justify-content-center>
        <ion-item>
          <ion-label floating>School</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="education.school">
          </ion-input>
        </ion-item>
      </ion-row>

      <ion-row justify-content-center>
        <ion-item>
          <ion-label floating>Description</ion-label>
          <ion-input type="text"
                     [(ngModel)]="education.fieldofstudy"
          ></ion-input>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-item>
          <ion-label floating>Start date</ion-label>
          <ion-datetime displayFormat="DD:MM:YYYY" pickerFormat="DD:MM:YYYY" [(ngModel)]="education.from"></ion-datetime>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-item>
          <ion-label floating>End date</ion-label>
          <ion-datetime displayFormat="DD:MM:YYYY" pickerFormat="DD:MM:YYYY" [(ngModel)]="education.to"></ion-datetime>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center >

        <button ion-button round (click)="addEducation()">Add Education data</button>

      </ion-row>

      <ion-row *ngIf="mode == 'edit'" justify-content-center >

        <button ion-button outline color="danger" (click)="deleteEducation()">Delete</button>

      </ion-row>

    </ion-col>
  </ion-grid>

</ion-content>
