<ion-header>
  <ion-navbar>

    <div text-center>
      <ion-title>
        <ion-icon color="primary"  margin-right name="person"></ion-icon> Profile
      </ion-title>
    </div>

    <ion-buttons end >
      <button *ngIf="visitor == 'user'" ion-button (click)="settingsPage()">
        <ion-icon slot="icon-only" margin-right color="primary" name="settings"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <div   class="profile-header text-center" style="background-image: url('../../assets/imgs/profile_cover.jpg'); background-size: 100% 100%;">

    <ion-grid style="padding-top: 20px">

      <ion-row justify-content-center>

        <ion-avatar *ngIf="visitor == 'user'" item-start no-padding (tap)="updateProfilePic()">
          <img *ngIf="user?.profile_picture" style="border-radius: 50%; width: 100px; height: 100px;" src="{{user?.profile_picture | transform}}">
          <img *ngIf="!user?.profile_picture" style="border-radius: 50%; width: 100px; height: 100px;" src="../../assets/imgs/default_profile.png">
        </ion-avatar>

        <ion-avatar *ngIf="visitor != 'user'" item-start no-padding >
          <img *ngIf="user?.profile_picture" style="border-radius: 50%; width: 100px; height: 100px;" src="{{user?.profile_picture | transform}}">
          <img *ngIf="!user?.profile_picture" style="border-radius: 50%; width: 100px; height: 100px;" src="../../assets/imgs/default_profile.png">
        </ion-avatar>
      </ion-row>
      <ion-row justify-content-center style="background: transparent">
        <strong [ngStyle]="{'color':'#f4f4f4'}">{{user?.user?.name}}</strong>
        <strong [ngStyle]="{'color':'#f4f4f4'}">{{user?.name}}</strong>
      </ion-row>
      <ion-row justify-content-center style="background: transparent">
        <p [ngStyle]="{'color':'#f4f4f4'}">{{user?.department_name}}</p>
      </ion-row>
      <ion-row justify-content-center style="padding-top: 20px">
        <ion-col col-6><div text-center><strong  [ngStyle]="{'color':contact ? '#1ba1e2' : '#f4f4f4' }" (tap)="onContact()">About</strong></div></ion-col>
        <ion-col col-6><div text-center> <strong [ngStyle]="{'color':portfolio ? '#1ba1e2' : '#f4f4f4' }" (tap)="onPortfolio()">Portfolio</strong> </div> </ion-col>
      </ion-row>
    </ion-grid>

  </div>



  <div *ngIf="!portfolio &&  contact ">


    <ion-card>
      <ion-item>
        <ion-icon  item-right small
                   name="create" (tap)="editProfile()"
                   *ngIf="contact && visitor == 'user'">

        </ion-icon>
        <strong>What i am?</strong>
        <p padding text-sm-wrap
           text-wrap itemid
        >{{user?.bio}}</p>
      </ion-item>

      <ion-row justify-content-center>
        <ion-col col-2>
          <ion-item no-padding>
            <ion-icon padding-left name="school"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-10>
          <ion-item no-padding>
            <strong>Faculty</strong>
            <p>{{user?.faculty_name}}</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-2>
          <ion-item no-padding>
            <ion-icon padding-left name="school"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-10>
          <ion-item no-padding>
            <strong>Department</strong>
            <p text-sm-wrap text-md-wrap>{{user?.department_name}}</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <!--<ion-row>-->
      <!--<ion-col col-2>-->
      <!--<ion-item no-padding>-->
      <!--<ion-icon padding-left name="school"></ion-icon>-->
      <!--</ion-item>-->
      <!--</ion-col>-->
      <!--<ion-col col-10>-->
      <!--<ion-item no-padding>-->
      <!--<strong>Enrolment number</strong>-->
      <!--<p>GI4746</p>-->
      <!--</ion-item>-->
      <!--</ion-col>-->
      <!--</ion-row>-->

      <ion-row>
        <ion-col col-2>
          <ion-item no-padding>
            <ion-icon padding-left name="calendar"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-10>
          <ion-item no-padding>
            <strong>Date of birth</strong>
            <p>{{user?.date_of_birth}}</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-2>
          <ion-item no-padding>
            <ion-icon padding-left name="calendar"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-10>
          <ion-item no-padding>
            <strong>Passing year</strong>
            <p>{{passing_year}}</p>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-card>

    <ion-card>
      <ion-item>
        <span>Contact:</span>
      </ion-item>
      <ion-row justify-content-center>
        <ion-col col-2>
          <ion-item no-padding>
            <ion-icon padding-left name="happy"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-10>
          <ion-item no-padding>
            <strong>Your Profile</strong>
            <p>http://www.amuconnect.com/ {{user?.handle}}</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-2>
          <ion-item no-padding>
            <ion-icon padding-left name="call"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-10>
          <ion-item no-padding>
            <strong>Phone</strong>
            <p>{{user?.phoneno}}</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <!--<ion-row>-->
      <!--<ion-col col-2>-->
      <!--<ion-item no-padding>-->
      <!--<ion-icon padding-left name="mail"></ion-icon>-->
      <!--</ion-item>-->
      <!--</ion-col>-->
      <!--<ion-col col-10>-->
      <!--<ion-item no-padding>-->
      <!--<strong>Email</strong>-->
      <!--<p>{{user?.email}}</p>-->
      <!--</ion-item>-->
      <!--</ion-col>-->
      <!--</ion-row>-->

      <ion-row>
        <ion-col col-2>
          <ion-item no-padding>
            <ion-icon padding-left name="compass"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-10>
          <ion-item no-padding>
            <strong>Current City</strong>
            <p>{{user?.location_current}}</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-2>
          <ion-item no-padding>
            <ion-icon padding-left name="home"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-10>
          <ion-item no-padding>
            <strong>Home City</strong>
            <p>{{user?.location_home}}</p>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-card>

  </div>

  <div *ngIf="portfolio && !contact ">


    <ion-item no-padding>
      <div padding text-center>
        <strong>Education</strong>
      </div>
      <ion-icon *ngIf="portfolio && visitor == 'user'" item-right small name="add" (tap)="addEducation('new' , {} , 0)"></ion-icon>
    </ion-item>

    <ion-card *ngFor="let education of user?.education; let i = index">
      <ion-item>
        <ion-icon item-start name ="school"></ion-icon>

        <strong>{{education?.degree}}</strong>
        <ion-icon *ngIf="visitor == 'user' " item-right small name = "trash" (tap)="deleteAlert(education , i , 'education')" ></ion-icon>
        <h3>{{education?.school}}</h3>
        <!-- Field of study item will be added later <h3></h3>-->
        <ion-note >{{education.from | date:'dd/MM/yyyy'}} -  {{education?.to | date:'dd/MM/yyyy'}}</ion-note>
      </ion-item>

      <ion-card-content>
        <p>{{education?.fieldofstudy}}</p>
      </ion-card-content>
    </ion-card>


    <ion-item no-padding>
      <div padding text-center>
        <strong>Projects</strong>
      </div>
      <ion-icon *ngIf="portfolio && visitor == 'user'" item-right small name="add" (tap)="addExperience('new' , {} , 0)"></ion-icon>
    </ion-item>


    <!--*ngFor work of user?.works-->
    <ion-card *ngFor="let project of user?.experience; let i = index ">
      <ion-item>
        <ion-icon item-start name ="briefcase"></ion-icon>

        <strong>{{project?.title}}</strong>
        <ion-icon *ngIf="visitor == 'user' " item-right small name = "trash" (tap)="deleteAlert(project , i , 'experience')" ></ion-icon>
        <h3>{{project.company}}</h3>
        <ion-note >{{project?.from | date:'dd/MM/yyyy'}} -  {{project?.to| date:'dd/MM/yyyy'}}</ion-note>
      </ion-item>
      <ion-card-content>
        <p>{{project?.description}}</p>
      </ion-card-content>

    </ion-card>

  </div>

</ion-content>

