<ion-header>
  <ion-navbar color= "white">
      <ion-title >
        <div text-center>
          <ion-icon padding-right color="primary" name="create"></ion-icon> Create new feed
        </div>
      </ion-title>
            
        
      <ion-buttons end >
          <button ion-button  (click)="close()" >
              <ion-icon slot="icon-only" margin-right color="primary" name="close"></ion-icon>
              </button>
         
      </ion-buttons>
      
  </ion-navbar>
</ion-header>
<ion-content>
  
  <ion-grid>
    <ion-col>
      <ion-row padding-top justify-content-center>
          <ion-item>
              <ion-label floating>Say something here...</ion-label>
              <ion-textarea #myInput id="myInput" rows="4" 
              maxLength="500" 
              [(ngModel)]="text"
              ></ion-textarea>
            </ion-item>
      </ion-row>

      <ion-row padding-top padding-bottom>
        <ion-col>
          <div text-center>
            <button ion-button clear icon-top (tap) = "takePicture()">
              <ion-icon name="camera"> Take picture</ion-icon>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div text-center>
            <button ion-button clear icon-top (tap) =  "choseImage()">
              <ion-icon name="folder"> Open gallery</ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
      <!--<ion-row justify-content-center>-->
          <!--<ion-item>-->
              <!--<ion-label floating>Web urls if any</ion-label>-->
              <!--<ion-textarea #myInput  rows="1"-->
              <!--maxLength="500" (keyup)="resize()"-->
              <!--[(ngModel)]="url"-->
              <!--&gt;</ion-textarea>-->
            <!--</ion-item>-->
      <!--</ion-row>-->
      <ion-row justify-content-center>



      <div  *ngIf="isCameraImage" >
          <img  style="max-height:300px; max-width: 300px;" src = "{{image}}" >
        </div>

        <div *ngIf="isGalleryImage" >
        <img  *ngIf="!previewLoading" style="max-width: 300px; max-height: 300px;" src = "{{image}}">
          <div *ngIf="previewLoading" text-center>Loading preview <ion-spinner name="dots"></ion-spinner></div>
      </div>



        <div *ngIf="isFile">
          <p> File selected</p>
        </div>

        <!--<button *ngIf="isCameraImage || isGalleryImage || isFile"  ion-button clear (click)="resetSelection()">Choose another</button>-->
        <!--<button   *ngIf="!image"  ion-button clear (click)="options()">Upload image</button>-->

      </ion-row>
     
      <ion-row justify-content-center >
         
              <button ion-button round (click)="createFeed()">Post Feed</button>
            
      </ion-row>

    </ion-col> 
    </ion-grid>   

</ion-content>
