create-feed {
    #myInput {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
    }   

    #avatar{
        width: 200;
        height: 200
    }
}
