<ion-header >

  <ion-navbar class="no-border">
    <div text-center>
      <ion-title>
        <ion-icon name="cog" class="text-primary"></ion-icon>
        <span >Settings</span>
      </ion-title>
    </div>

  </ion-navbar>

</ion-header>

<ion-content >
  <!-- User settings-->
  <ion-item-group>
    <ion-item-divider color="secondary" class="bold">Security settings</ion-item-divider>
    <ion-item>
      <ion-label>Change password</ion-label>
    </ion-item>


  </ion-item-group>
  <!-- App settings-->
  <ion-item-group>
    <ion-item-divider color="secondary" >App Settings</ion-item-divider>
    <ion-item>
      <span>Clear Private Data</span>
    </ion-item>
    <ion-item>
      <ion-label>Push Notifications?</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <span>Privacy Policy</span>
    </ion-item>
  </ion-item-group>

  <!--sign out button-->
  <button ion-button color="danger" full tappable (tap)="logout()">LOG OUT</button>

</ion-content>
