<ion-header >

  <ion-navbar>
    <ion-title >
      <div>
        <ion-icon padding-right color="primary" name="search"></ion-icon> Find Alig
      </div>
    </ion-title>

    <ion-buttons end >
      <!--<button ion-button  (click)="openPopover($event)" >-->
      <!--<ion-icon slot="icon-only" large margin-right color="primary" name="more"></ion-icon>-->
      <!--</button>-->
      <button ion-button clear (tap)="openUserProfile()">
        <ion-avatar item-start no-padding>
          <img   style="border-radius: 50%; height: 38px; width: 38px" src="../../assets/imgs/amulogo.png">
        </ion-avatar>
        <!--<ion-icon  style="zoom: 140%" name="happy" color="primary"></ion-icon>-->
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div *ngIf="!searched">

  <ion-item no-padding (tap)="keyboardCheck()">
    <ion-label floating>Alig's name</ion-label>
    <ion-input type="text"
        [(ngModel)]="name" ></ion-input>
  </ion-item>

  <ion-item no-padding>

    <ion-label floating><ion-icon name=""></ion-icon>
      Faculty name</ion-label>
    <ion-select   [(ngModel)]="faculty"  multiple="false">
      <ion-option *ngFor="let fac of faculty_list"  checked="false" [value]="fac">{{fac}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item no-padding >
    <ion-label floating><ion-icon name=""></ion-icon>
      Department name</ion-label>
    <ion-select  [(ngModel)]="department">
      <ion-option *ngFor="let dep of depByCategory[faculty]" [value]="dep">{{dep}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item  no-padding>
    <ion-label floating><ion-icon name=""></ion-icon>
      Passing year</ion-label>
    <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" [(ngModel)]="year"></ion-datetime>
  </ion-item>

  <div *ngIf="!searching" text-center padding-top>
    <button ion-button color="primary"  (tap)="findAlig()">Check now</button>
  </div>

  <div *ngIf="searching" text-center padding-top>
      <ion-spinner ></ion-spinner>
  </div>


  </div>

  <div *ngIf="searched" text-center>
    <button ion-button clear (tap)="searchAgain()">Search Again</button>
  </div>


  <!--search result after searching -->

  <div *ngIf="searched">
    <ion-list>
      <ion-list-header>
          Your query result
      </ion-list-header>

      <ion-item *ngFor="let alig of aligs" style="padding-left: 3px;">
        <ion-avatar item-start (tap)="openProile(alig)">
          <img *ngIf="alig?.profile_picture" src="{{alig?.profile_picture | transform}}">
          <img *ngIf="!alig?.profile_picture" src="../../assets/imgs/default_profile.png">
        </ion-avatar>
        <button ion-button outline  item-end
                (tap)="openProile(alig)">
          View Profile
        </button>
        <h2 (tap)="openProile(alig)">{{alig?.user?.name}}</h2>
        <p style="font-size:8px">{{alig?.user?.institution_name}}</p>
      </ion-item>

    </ion-list >
  </div>


</ion-content>

