<ion-header>
  <ion-navbar color= "white">

    <ion-title>
      <div text-center>
        <ion-icon padding-right color="primary" name="briefcase"></ion-icon> Add Word
      </div>
      </ion-title>


    <ion-buttons end >
      <button ion-button  (tap)="close()" >
        <ion-icon slot="icon-only" margin-right color="primary" name="close"></ion-icon>
      </button>

    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-col>
      <ion-row justify-content-center>
        <ion-item>
          <ion-label floating>Title</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="work.title">

          </ion-input>
        </ion-item>
      </ion-row>

      <ion-row justify-content-center>
        <ion-item>
          <ion-label floating>Company</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="work.company">

          </ion-input>
        </ion-item>
      </ion-row>

      <ion-row justify-content-center>
        <ion-item>
          <ion-label floating>Description</ion-label>
          <ion-textarea #myInput id="myInput" rows="4"
                        maxLength="500"
                        [(ngModel)]="work.description"
          ></ion-textarea>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-item>
          <ion-label floating>Start date</ion-label>
          <ion-datetime displayFormat="DD:MM:YYYY" pickerFormat="DD:MM:YYYY" [(ngModel)]="work.from"></ion-datetime>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center>
        <ion-item>
          <ion-label floating>End date</ion-label>
          <ion-datetime displayFormat="DD:MM:YYYY" pickerFormat="DD:MM:YYYY" [(ngModel)]="work.to"></ion-datetime>
        </ion-item>
      </ion-row>
      <ion-row justify-content-center >

        <button ion-button round (click)="addWork()">Add new work</button>

      </ion-row>

      <ion-row *ngIf="mode == 'edit'" justify-content-center >

        <button ion-button outline color="danger" (click)="deleteWork()">Delete project</button>

      </ion-row>

    </ion-col>
  </ion-grid>

</ion-content>
