<ion-header >

    <ion-navbar>
        <div text-center>
          <ion-title><ion-icon padding-right color="primary" name="trending-up"></ion-icon> Stories</ion-title>
        </div>
      <ion-buttons end >
        <!--<button ion-button  (click)="openPopover($event)" >-->
          <!--<ion-icon slot="icon-only" large margin-right color="primary" name="more"></ion-icon>-->
        <!--</button>-->
        <button ion-button clear (tap)="openUserProfile()">
          <ion-avatar item-start no-padding>
            <img   style="border-radius: 50%; height: 38px; width: 38px" src="../../assets/imgs/pic.jpg">
          </ion-avatar>
        </button>
      </ion-buttons>
    </ion-navbar>

  </ion-header>   


<ion-content >
  <ion-card (tap)="openStory('https://amuconnect.com/story/amu-flag-at-leh-ladakh-reviving-memories/')" >
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <h3 item-left>
            AMU flag at Leh (Ladakh) | Reviving Memories
          </h3>
        </ion-col>
        <ion-col col-4>
          <img style="border-radius: 5%;width: 100px; height: 100px" src="../../assets/imgs/amulogo.png">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card (tap)="openStory('https://amuconnect.com/story/amu-vice-chancellor-attends-first-india-indonesia-inter-faith-dialogue-as-part-of-indian-delegation/')">
    <ion-grid >
      <ion-row>
        <ion-col col-8>
          <h3 item-left>
            AMU Vice Chancellor attends first India-Indonesia Inter Faith Dialogue as part of Indian delegation.
          </h3>
        </ion-col>
        <ion-col col-4>
          <img style="border-radius: 5%;width: 100px; height: 100px" src="../../assets/imgs/amulogo.png">
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-card (tap)="openStory('https://amuconnect.com/story/state-bank-of-pakistan-will-issue-rs50-sir-syed-ahmed-khan-commemorative-from-october-17-2018/')">
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <h3 item-left>
            State Bank of Pakistan will issue Rs50 Sir Syed Ahmed Khan commemorative from October 17, 2018
          </h3>
        </ion-col>
        <ion-col col-4>
          <img  style="border-radius: 5%;width: 100px; height: 100px " src="../../assets/imgs/amulogo.png">
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>
