<ion-header>

  <ion-navbar>

    <ion-title >
      <div text-center>
        <ion-icon padding-right color="primary" name="create"></ion-icon> Update your info
      </div>
    </ion-title>


    <ion-buttons end >
      <button   ion-button  clear (tap)="done()"><p margin-right></p>
           <ion-icon padding-right color="primary" ios="ios-checkmark" md="md-checkmark"></ion-icon> Done
      </button>

    </ion-buttons>


    <!--<ion-row>-->
      <!--<ion-col col-2>-->
        <!--<button   ion-button  clear (tap)="cancel()"><p margin-right></p>-->
          <!--<ion-icon padding-right color="primary" ios="ios-close" md="md-close"></ion-icon>-->
        <!--</button>-->
      <!--</ion-col>-->
      <!--<ion-col col-8>-->
        <!--<div text-center><h4>Update profile</h4> </div>-->
      <!--</ion-col>-->
      <!--<ion-col col-2>-->
        <!--<button   ion-button  clear (tap)="done()"><p margin-right></p>-->
          <!--<ion-icon padding-right color="primary" ios="ios-checkmark" md="md-checkmark"></ion-icon>-->
        <!--</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  </ion-navbar>

</ion-header>

<ion-content>



  <ion-item >
    <ion-label floating><ion-icon name=""></ion-icon>
      Faculty name</ion-label>
    <ion-select   [(ngModel)]="user.faculty_name"  multiple="false">
      <ion-option *ngFor="let fac of faculty_list"  checked="false" [value]="fac">{{fac}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label floating><ion-icon name=""></ion-icon>
      Department name</ion-label>
    <ion-select  [(ngModel)]="user.department_name">
      <ion-option *ngFor="let dep of depByCategory[user.faculty_name]" [value]="dep">{{dep}}</ion-option>
    </ion-select>
  </ion-item>

  <!--<ion-item >-->
    <!--<ion-label floating><ion-icon name="school"></ion-icon>-->
      <!--Faculty Number</ion-label>-->
    <!--<ion-input-->
      <!--type="number"-->
      <!--[(ngModel)]="user.faculty_number"-->
      <!--required></ion-input>-->
  <!--</ion-item>-->

  <ion-item >
    <ion-label floating>
      Gender</ion-label>
    <ion-select  [(ngModel)]="user.gender">
      <ion-option value="Male">Male</ion-option>
      <ion-option value="Female">Female</ion-option>
      <ion-option value="Other">Other</ion-option>
    </ion-select>
  </ion-item>

  <ion-item >
    <ion-label floating><ion-icon name=""></ion-icon>
      Date of birth</ion-label>
    <ion-datetime displayFormat="DD:MM:YYYY" pickerFormat="DD:MM:YYYY" [(ngModel)]="user.date_of_birth"></ion-datetime>
  </ion-item>

  <ion-item >
    <ion-label floating><ion-icon name=""></ion-icon>
      Passing year</ion-label>
    <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" [(ngModel)]="user.passing_year"></ion-datetime>
  </ion-item>


  <ion-item>
    <ion-label floating><ion-icon name=""></ion-icon>
      Your profile address</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="user.handle"
      required></ion-input>
  </ion-item>

  <ion-item >
    <ion-label floating><ion-icon name="phone"></ion-icon>
      Mobile</ion-label>
    <ion-input
      type="number"
      [(ngModel)]="user.phoneno"
      required></ion-input>
  </ion-item>

  <ion-item >
    <ion-label floating><ion-icon name=""></ion-icon>
      Current City</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="user.location_current"
      required></ion-input>
  </ion-item>

  <ion-item >
    <ion-label floating><ion-icon name=""></ion-icon>
      Home City</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="user.location_home"
      required></ion-input>
  </ion-item>

  <ion-item >
    <ion-label floating><ion-icon name=""></ion-icon>
      Current country</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="user.country"
      required></ion-input>
  </ion-item>

  <ion-item >
    <ion-label floating><ion-icon name=""></ion-icon>
      Write a short note about yourself</ion-label>
    <ion-textarea
      type="text"
      rows="5"
      [(ngModel)]="user.bio"
      required></ion-textarea>
  </ion-item>


</ion-content>
