<ion-header>
    
  <ion-navbar>
      
      <ion-title >Register here</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

    <!-- <div class="login-content">

            <ion-item >
                    <ion-label floating><ion-icon name="person"></ion-icon>
                    Full Name</ion-label>
                    <ion-input
                            type="text"
                            [(ngModel)]="name"
                            required></ion-input>
                  </ion-item>

            <ion-item>
                    <ion-label floating>
                      <ion-icon name="mail" item-start class="text-primary"></ion-icon>
                      Email
                    </ion-label>
                      <ion-input
                               type="email"
                               [(ngModel)]="email"
                              required>
                            </ion-input>
                  </ion-item>
            
                  <ion-item >
                        <ion-label floating>
                            <ion-icon name="school" item-start></ion-icon>
                        Enrolment number</ion-label>
                        <ion-input
                                type="text"
                                [(ngModel)]="enrolment_number"
                                required></ion-input>
                     </ion-item>

            
                  <ion-item >
                    <ion-label floating>
                      <ion-icon name="lock" item-start class="text-primary"></ion-icon>
                      Password
                    </ion-label>
                    <ion-input
                                  type="password"
                                  [(ngModel)]="password"
                                  required></ion-input>
                  </ion-item>

                  <ion-item > 
                        <ion-label floating><ion-icon name="lock"></ion-icon>
                        Confirm password</ion-label>
                        <ion-input
                                type="password"
                                [(ngModel)]="passwordConfirm"
                                required></ion-input>
                      </ion-item>
              
            
                <div  padding-top>
                    <button ion-button icon-start block *ngIf="!spinner" round (click)="createAc()">Create account</button>
                    <button ion-button icon-start block *ngIf="spinner" round >Please wait 
                      <ion-spinner name="crescent"></ion-spinner>
                    </button>
                </div> 

    </div> -->


  <div class="Absolute-Center">
    
      <ion-grid >
        <ion-col >
          <ion-row class="animated fadeIn" padding-bottom justify-content-center>
             <ion-avatar id="avatar">
                 <img src="../../assets/logo/logo.png">
               </ion-avatar>
          </ion-row >
          
          <ion-row justify-content-center>
             <ion-item >
                 <ion-label ><ion-icon name="person"></ion-icon></ion-label>
                 <ion-input
                         type="text"
                         placeholder="Full Name"
                         [(ngModel)]="name"
                         required></ion-input>
               </ion-item>
          </ion-row>
          <ion-row justify-content-center>
              <ion-item >
                  <ion-label ><ion-icon name="mail"></ion-icon></ion-label>
                  <ion-input
                          type="text"
                          placeholder="Email address"
                          [(ngModel)]="email"
                          required></ion-input>
                </ion-item>
           </ion-row>
           <!--<ion-row justify-content-center>-->
              <!--<ion-item >-->
                  <!--<ion-label ><ion-icon name="school"></ion-icon></ion-label>-->
                  <!--<ion-input-->
                          <!--type="school"-->
                          <!--placeholder="Institution name"-->
                          <!--[(ngModel)]="institution_name"-->
                          <!--required></ion-input>-->
                <!--</ion-item>-->
           <!--</ion-row>-->
           <ion-row justify-content-center>
              <ion-item >
                  <ion-label ><ion-icon name="lock"></ion-icon></ion-label>
                  <ion-input
                          type="password"
                          placeholder="Password"
                          [(ngModel)]="password"
                          required></ion-input>
                </ion-item>
           </ion-row>
          <ion-row justify-content-center>
             <ion-item > 
                 <ion-label ><ion-icon name="lock"></ion-icon></ion-label>
                 <ion-input
                         type="password"
                         placeholder="Confirm password"
                         [(ngModel)]="passwordConfirm"
                         
                         required></ion-input>
               </ion-item>
          </ion-row>
          <ion-row style="padding-top:15px" justify-content-center>
             <button ion-button round *ngIf="!spinner"  (tap)="createAc()">Register account</button>
             <button ion-button round *ngIf="spinner"  >Please wait 
                <ion-spinner name="crescent"></ion-spinner>
              </button>
             
          </ion-row>
         
        </ion-col> 
        
     </ion-grid>
 
   </div>

</ion-content>
