page-class-feed {

  .card{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  //ion-avatar{
  //  height: 50px;
  //  width: 50px;
  //  border-radius: 2px;
  //}

  .image{
    width: 100%;
  }

  .loading{
    padding-top: 15%;
  }


}
