<ion-header>
  <ion-navbar>
    <div text-center>
      <ion-title *ngIf="!updating_feed"><ion-icon padding-right color="primary" name="school"></ion-icon> Class Feeds</ion-title>
    </div>
    <div text-center *ngIf="updating_feed">
      <ion-spinner name="ios-small" color="primary"></ion-spinner>
    </div>
    <ion-buttons end >
      <!--<button ion-button  (click)="openPopover($event)" >-->
      <!--<ion-icon slot="icon-only" large margin-right color="primary" name="more"></ion-icon>-->
      <!--</button>-->
      <button ion-button clear (tap)="openUserProfile()">
        <ion-avatar item-start no-padding>
          <img   style="border-radius: 50%; height: 38px; width: 38px" src="../../assets/imgs/amulogo.png">
        </ion-avatar>
        <!--<ion-icon  style="zoom: 140%" name="happy" color="primary"></ion-icon>-->
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content overflow-scroll=”true” no-padding no-margin #container>


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      color="primary"
      pullingText="Pull to update feeds"
      refreshingSpinner="ios-small"
      refreshingText="Updating class feeds...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!loading">


    <ion-card *ngFor="let post of posts ; let i = index" class="card" id="post?._id">

      <ion-item (tap)="openProfile(post)">
        <ion-avatar item-start no-padding>
          <img src="../../assets/imgs/amulogo.png">
        </ion-avatar>
        <ion-note item-end>
          {{post?.date | date:'dd/MM/yyyy H:mm'}}
        </ion-note>

        <div no-padding>

          <h2>{{post?.name}}</h2>
          <p > <small> {{post?.institution_name}}</small> </p>

        </div>
      </ion-item>

      <div padding>
        <p>{{post?.text }}</p>
      </div>

      <div padding-bottom *ngIf="post.image_post  || post.image_post == ''" (tap)="openFeedDetail(post , i , 'detail')">
        <img  class="ion-img" src="../../assets/imgs/compressednotes.jpg"/>
      </div>

      <ion-note padding-left padding-top padding-bottom="1px">{{post?.likes_count}} Likes . {{post?.comments_count}} Comments</ion-note>
      <hr >
      <ion-row no-padding>
        <ion-col col-4>
          <button [ngStyle]="{'color':post?.isLiked ? '#1ba1e2' : '#BDBDBD' }"
            margin-left ion-button icon-start clear small (click)="like(post ,i)">

            <div><ion-icon name="thumbs-up"></ion-icon> Like</div>
          </button>

        </ion-col>
        <ion-col col-4>
          <button [ngStyle]="{'color':post?.comments_count > 0 ? '#1ba1e2' : '#BDBDBD' }"
                  margin-right ion-button icon-start
                  clear small  (tap)="openFeedDetail(post , i , 'comment')">
            <div><ion-icon ios="ios-megaphone" md="md-megaphone"></ion-icon> Comment</div>
          </button>
        </ion-col>
        <ion-col col-4>
          <button  *ngIf="!downloading_process[i]" color="primary" margin-right ion-button icon-start
                  clear small (tap) ="download(post , i)" >

            <div><ion-icon name="arrow-down"></ion-icon> Download</div>
          </button>
          <div *ngIf="downloading_process[i]">
            <progress-bar *ngIf="is_downloading" (tap)="downloadControl(i)" [progress]="download_progress"></progress-bar>
          </div>


          <!--<button *ngIf="is_downloading" color="primary" margin-right ion-button icon-start-->
                   <!--clear small >-->
            <!--<ion-spinner name="ios-small"></ion-spinner> {{download_progress}}-->

          <!--</button>-->
        </ion-col>

      </ion-row>


    </ion-card>


    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">


      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>




  </div>

  <div text-center *ngIf="loading">

    <div class="loading">
      <ion-spinner color="primary" name="ios"></ion-spinner>
    </div>


  </div>


</ion-content>
