<ion-header >
  <ion-navbar>
    <div text-center>
      <ion-title >
          <div *ngIf="!updating_feed">
            <ion-icon   padding-right color="primary" name="paper"></ion-icon> General Feeds
          </div>
        <ion-spinner *ngIf="updating_feed"  padding-right color="primary" name="ios-small"></ion-spinner>
        </ion-title>
    </div>
    <ion-buttons end >
      <!--<button ion-button  (click)="openPopover($event)" >-->
      <!--<ion-icon slot="icon-only" large margin-right color="primary" name="more"></ion-icon>-->
      <!--</button>-->

      <button *ngIf="!loading_profile" ion-button clear (tap)="openUserProfile()">
        <ion-avatar no-padding>
          <img   style="border-radius: 50%; height: 38px; width: 38px" src="../../assets/imgs/amulogo.png">
        </ion-avatar>
        <!--<ion-icon  style="zoom: 140%" name="happy" color="primary"></ion-icon>-->
      </button>
      <button *ngIf="loading_profile" ion-button clear>
      <ion-spinner  color="primary" name="dots"></ion-spinner>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content overflow-scroll=”true” no-padding no-margin #container>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to update feeds"
      refreshingSpinner="ios-small"
      refreshingText="Updating general feeds...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!loading">


    <ion-card padding (tap)="createFeed()" >
      <ion-grid>
        <ion-row>
           <ion-col col-3>
             <!--<ion-avatar *ngIf="!loading_profile" item-start no-padding>-->
               <!--<img style="border-radius: 50%" src="{{user?.profile_picture | transform}}">-->
             <!--</ion-avatar>-->
             <!--<ion-spinner *ngIf="loading_profile" color="primary" name="dots"></ion-spinner>-->
             <ion-icon style="zoom: 170%" color="primary" name="clipboard"></ion-icon>
           </ion-col>
          <ion-col col-7>
            <ion-label>Write something ... </ion-label>
          </ion-col>
          <ion-col col-2>
            <ion-icon style="zoom: 170%" name="camera"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
      
  <ion-card *ngFor="let post of posts ; let i = index">

    <ion-item >
      <ion-avatar item-start no-padding (tap)="openProfile(post)">
        <img *ngIf="post?.profile_id?.profile_picture" src="{{post?.profile_id?.profile_picture | transform}}">
        <img *ngIf="!post?.profile_id?.profile_picture" src="../../assets/imgs/default_profile.png">
      </ion-avatar>
      <ion-note item-end padding-right>
        {{post?.date | date:'dd/MM/yyyy H:mm'}}
      </ion-note>
      <ion-icon item-end name="more" (tap)="openMoreOptions($event , post, i)"></ion-icon>

      <div no-padding (tap)="openProfile(post)">
        <h2>{{post?.name}}</h2>
        <p > <small> {{post?.institution_name}}</small> </p>
      </div>

    </ion-item>

    <div padding-left (tap)="openFeedDetail(post , i , 'detail')">
      <p>{{post?.text }}</p>

    </div>
    <div padding-bottom *ngIf="post.image_post  || post.image_post == ''"
                      (tap)="openFeedDetail(post , i , 'detail')">

      <img class="ion-img" [defaultImage]="'assets/imgs/def-img.png'"
           lazyLoad="{{post?.image_post | transform }}"
           [scrollObservable]="container.ionScroll"/>

    </div>
    <ion-note padding-left padding-top padding-bottom="1px">{{post?.likes_count}} Likes . {{post?.comments_count}} Comments</ion-note>
    <hr >
    <ion-row no-padding>
      <ion-col col-6>
        <button [ngStyle]="{'color':post?.isLiked ? '#1ba1e2' : '#BDBDBD' }"
                margin-left ion-button icon-start clear small (click)="like(post ,i)">
          <div>
            <ion-icon item-left name="thumbs-up"></ion-icon>  like

          </div>

        </button>
        <!--<button  *ngIf="lock" margin-left ion-button icon-start clear small >-->
          <!--<ion-icon name="thumbs-up"></ion-icon>-->
          <!--<div>{{likes_local[i]}} likes</div>-->
        <!--</button>-->
      </ion-col>
      <ion-col col-6>
        <button [ngStyle]="{'color':post?.comments_count > 0 ? '#1ba1e2' : '#BDBDBD' }"
                margin-right ion-button icon-start
                clear small  (tap)="openFeedDetail(post , i , 'comment')">

          <div><ion-icon ios="ios-megaphone" md="md-megaphone"></ion-icon>  Comment</div>
        </button>
      </ion-col>

    </ion-row>


  </ion-card>


      <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">


        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </div>

  <div text-center *ngIf="loading">

    <div class="loading">
      <ion-spinner color="primary" name="ios"></ion-spinner>
    </div>
      

  </div>


</ion-content>

