page-feeds {
    .more-icon {
        font-size: 25px;
        transform: rotate(90deg);
        
      }
      .card{
         width: 100%;
         margin-left: 0%;
         margin-right: 0%;
      }
      //ion-avatar{
      //    height: 50px;
      //    width: 50px;
      //    border-radius: 2px;
      //}




  .ion-img{

    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      //max-height: 640px;
      //width: auto ;
      //border: 0;
      //padding: 0;


  }

  .loading{
      padding-top: 15%;
  }


}

